<div style="background-color:#438eb9; height: 45px; padding-left: 24px;">
	<a class="brand" href="/" style="padding:0px;"><small><img src="LOGO_URL"></small> </a>
</div>
<div style="margin: 15px;">
	Please click on the following link to activate your account.
	<br/>
	<br/>
	<a href="{{dns}}/login/activation/{{activationkey}}"> Activate your account</a>
	<br/>
	<br/>
	Please email us if you have any problems.
	<br/>
	<br/>
	Many thanks
	<br/>
	Admin Team
</div>