Hello,
<br/>
 Please click on the following link to reset your password.
<br/>
<br/>
 <a href="{{dns}}/forgot/{{passwordresetkey}}"> Reset Your Password</a>
<br/>
<br/>
 Please email us if you have any problems.
 <br/>
 <br/>
 Many thanks
 <br/>
 Admin Team
